vendor/*
uploads/*
admin/application/config/database.php
franchise/application/config/database.php
store-user/application/config/database.php
warehouse/application/config/database.php
warehouse-users/application/config/database.php